node_modules/
backups/
blueprints/
portable_blueprints/tablet_data
crash-reports/
emojiful/cache
journeymap/
local/
logs
resourcepacks/*
!/resourcepacks/sunlit_overrides.zip
!config/defaultoptions/options.txt
mods/
build/
saves/
screenshots
shaderpacks/
config/worldedit/
immersive_paintings_cache/
ESM/
etched-cache/
modernfix/
schematics/
.vscode
.mixin.out/
easy_npc/backup
fancymenu_data/
etched-sounds/
TrashSlotSaveState.json
options.txt
usercache.json
usernamecache.json
.curseclient
.qmenu_opened.marker
emi.json
rhino.local.properties
minecraftinstance.json
user-prefs.json
patchouli_data.json
observable_announce
data/fabricDefaultResourcePacks.dat
package-lock.json
lwjgl.dll
jemalloc.dll
glfw.dll
jna8820213177836739703.dll
jna8820213177836739703.dll.x
lwjgl_opengl.dll
lwjgl_stb.dll
lwjgl.dll
OpenAL.dll